#!/bin/bash
# returns only the IP, nothing else. 
# copyright 2024 by moshix. All rights reserved
echo -ne "HTTP/1.1 200 OK\r\nContent-Type: text/plain\r\n\r\n$TCPREMOTEIP\r\n"
